.history-container {
  background-color: rgba(60, 70, 80, 0.6);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 215, 0, 0.2);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 0 10px rgba(255, 215, 0, 0.1);
  color: #e0e0e0;
  padding: 1.5rem;
  border-radius: 0.5rem;
  /* max-width: 90%; */
  margin: 1.5rem auto;
  animation: fadeIn 0.5s ease-in-out;
  box-sizing: border-box;
  min-height: calc(100vh - 3rem);
  overflow-y: auto;
}

.history-container h2 {
  color: #c084fc;
  text-shadow: 0 0 5px rgba(147, 51, 234, 0.5);
  margin-bottom: 1rem;
  text-align: center;
  font-family: 'Cinzel', serif;
  font-size: 1.875rem; /* corresponds to text-3xl */
}

@media (min-width: 768px) {
  .history-container h2 {
    font-size: 2.25rem; /* corresponds to md:text-4xl */
  }
}

.history-empty {
  color: #e0e0e0;
  text-align: center;
  font-size: 1rem;
  margin: 1rem 0;
}

.history-list {
  max-height: 550px;
  overflow-y: auto;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
  padding-right: 0.5rem;
}

.history-list::-webkit-scrollbar {
  width: 8px;
}

.history-list::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
}

.history-list::-webkit-scrollbar-thumb {
  background: rgba(255, 215, 0, 0.3);
  border-radius: 4px;
}

.history-list::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 215, 0, 0.5);
}

.history-entry {
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 215, 0, 0.1);
  border-radius: 0.5rem;
  padding: 1rem;
  margin-bottom: 1rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

.history-entry:hover {
  transform: translateY(-5px) scale(1.02);
  box-shadow: 0 5px 15px rgba(255, 215, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.1);
}

.history-entry-date {
  color: #ffd700;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

.history-entry-type {
  color: #ffffff;
  font-family: 'Cinzel', serif;
  font-weight: bold;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

.history-entry-result {
  color: #e0e0e0;
  text-align: center;
  font-size: 0.9rem;
}

.clear-history-button {
  background-color: #e53e3e;
  color: #ffffff;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: all 0.2s ease;
  font-family: 'Cinzel', serif;
  font-size: 1rem;
  margin: 2rem auto 1rem;
  display: block;
  width: 80%;
  max-width: 300px;
}

.clear-history-button:hover {
  background-color: #c53030;
  transform: scale(1.05);
}

.clear-history-button:active {
  transform: scale(0.95);
}
